<li class="chart-card">
    <div id='chart' class='chart'></div>
    <div>
        {% for column in columns %}
            <label>
                <input type="checkbox" class="column-checkbox" value="{{ column }}" checked> {{ column }}
            </label>
        {% endfor %}
    </div>

    <label for="column-selectors-bar-chart">Choose chart configuration:</label>
    <div class="column-selectors-bar-chart">
        <select class="bar-chart-columns-x">
            {% for column in columns %}
                <option value="{{ column }}">"{{ column }}"</option>
            {% endfor %}
        </select>
        <select class="bar-chart-columns-y">
            {% for column in columns %}
                <option value="{{ column }}">"{{ column }}"</option>
            {% endfor %}
        </select>
        <button class="update-bar-chart">Update Graph</button>
    </div>
</li>
<script>
    $(document).ready(function () {
        $(".update-bar-chart").on("click", function () {
            console.log("Button clicked!");
        });
    });
</script>