<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
    {# <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> #}
    <script
    src="{{ url_for('static', filename='js/charts.js') }}"
    type="module"
></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>
<body>
    <h1>
        Hello, Charts!
    </h1>
    <div class="chart-upload-card">
        <div>
            <div id='chart' class='chart'”></div>
        </div>
        <form>   
            <input type="file" name="file" />   
            <button data-action="upload">Upload Chart</button>
        </form>  
    </div>

</body>

<script>
    var graphs = {{ graphJSON | safe }};
    if (graphs) {
        Plotly.newPlot('chart', graphs.data, graphs.layout || {});
    } else {
        console.log("No default chart available.");
    }
</script>
</html>