<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
    {# <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>
        Hello, Charts!
    </h1>
    <div class="chart-upload-card">
        <form class="upload-form">   
            <input type="file" name="file" />   
            <button data-action="upload">Upload Chart</button>
            <button data-action="upload-new">Upload NEW Chart</button>
        </form>  
        <ul class="chart-list">
            {% include "_chart_card.html" %}
        </ul>
            
        
    </div>

</body>

<script>
    var graphs = {{ graphJSON | safe }};
    if (graphs) {
        Plotly.newPlot('chart', graphs.data, graphs.layout || {});
    } else {
        console.log("No default chart available.");
    }
</script>
<script
    src="{{ url_for('static', filename='js/charts.js') }}"
    type="module"
></script>
</html>